<!-- html fragment to add channel list into channels page without rendering the whole thing-->
<div class="channel_list_info d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight" style="font-size:150%" id="actname">{{ act_name }}</div>
    <div class="p-2 bd-highlight"> 
        {% if contact_name != '' %}
            Contact: {{ contact_name }}
        {% endif %}
    </div>
    <div class="p-2 bd-highlight"> 
    {% if contact_details != '' %}
        On: {{ contact_details }}
    {% endif %}
    </div>
</div>
<table id="channel_table">
    <thead>
        <tr>
            <th width="6%">Ch.</th>
            <th>Instrument</th>
            <th width="15%">Mic/DI</th>
            <th width="10%">Stand</th>
            <th width="20%">Position</th>
            <th width="6%">+48v</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody class="sortable">
        {% for channel in channel_list %}
        <tr>
            <td>
                <input autocomplete="off" name="ch{{ loop.index }}" type="text" value="{{ loop.index }}"/>
            </td>
            <td>
                <input autocomplete="off" name="inst{{ loop.index }}" type="text" value="{{ channel[0] }}" />
            </td>
            <td>
                <input autocomplete="off" name="mic{{ loop.index }}" type="text" value="{{ channel[1] }}" />
            </td>
            <td>
                <!--If it needs a stand, add it-->
                {% if channel[3] == 1 %}
                <input autocomplete="off" name="stand{{ loop.index }}" type="text" value="{{ channel[2] }}" />
                {% else %}
                <input autocomplete="off" name="stand{{ loop.index }}" type="text" />
                {% endif %}
            </td>
            <td>
                <input autocomplete="off" name="pos{{ loop.index }}" type="text" value="{{ channel[4] }}" />
            </td>
            <td>
                {% if channel[5] == 1 %}
                <input autocomplete="off" name="phnt{{ loop.index }}" type="text" value="*" />
                {% endif %}
            </td>
            <td>
                <input autocomplete="off" autofocus class="form-control" name="notes{{ loop.index }}" type="text">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
