{% extends "layout.html" %}

{% block title %} Make a channel list!{% endblock %}

{% block nav_channels %}active{% endblock %}

{% block heading %} Generate a channel list {% endblock %}
{% block subheading %} "1 x drums" is not a channel list {% endblock %}

{% block intro %}
<div class="row">
    <p>
        Put your information into the menu on the left hand side, click generate and you're done!
    </p>
    <p>
        Press the section buttons ("drums", "guitar", etc.) to select or deselect them and press the "option" buttons 
        to see the options in each section. Remember that the options buttons don't select the section! 
        You won't be able to adjust anything unless the section is selected. The most common set ups in
        each section have been pre-selected for you, but you can click on each instrument to 
        select or deselect them and drag and drop them to rearrange them. You can even drag and drop entire 
        sections by dragging their buttons. Click the buttons beside intruments like keys and guitars to toggle
        between mono and stereo or single and double mic'ing. Use the reset button to go back to the default 
        selection, or refresh the page to start again if you've rearranged things.
    </p>
    <p>
        Once you've generated your channel list, you can edit each piece of information, drag and drop channels to 
        rearrange them and add channels using the "add channel" button. Rearranging channels updates the numbering
        automatically so if you want custom numbering (e.g. putting talkback mic's at the end of the available channels),
        do this last. When you're happy with your list click "print" to print it out (including print to .pdf), or 
        "export to csv" to download it as a .csv file. 
    </p>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4" id="formbar">
        <div>
            <h3>Tell us about your act here</h3>
        </div>
        <form id="the_form">
            <div class="form-group">
                <input autocomplete="off" name="actname" placeholder="Name of your act" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" name="contactname" placeholder="Name of who to contact" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" name="contactdets" placeholder="Contact details" type="text">
            </div>
            <div class="sortable">
                <div>
                    <button type="button" class="section button1" name="drums">Drums</button>
                    <button type="button" class="options">Options</button>
                    <fieldset style="display:none" class="sortable" disabled>
                        <div class="overlay"></div>
                        <div class="options_holder">
                            <input type="checkbox" id="kick_in" name="instrument" value="kick_in" checked />
                            <label for="kick_in" class="drum_channels">Kick in</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="kick_out" name="instrument" value="kick_out" checked />
                            <label for="kick_out" class="drum_channels">Kick out</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="snare_top" name="instrument" value="snare_top" checked />
                            <label for="snare_top" class="drum_channels">Snare top</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="snare_bottom" name="instrument" value="snare_bottom" checked />
                            <label for="snare_bottom" class="drum_channels">Snare bottom</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="hihat" name="instrument" value="hihat" checked />
                            <label for="hihat" class="drum_channels">Hi hat</label>
                        </div>

                        <div class="options_holder">
                            <input type="checkbox" id="rack1" name="instrument" value="rack1" checked />
                            <label for="rack1" class="drum_channels">Rack 1</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="rack2" name="instrument" value="rack2" checked />
                            <label for="rack2" class="drum_channels">Rack 2</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="floor" name="instrument" value="floor" checked />
                            <label for="floor" class="drum_channels">Floor tom</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="overhead_sr" name="instrument" value="overhead_sr" checked />
                            <label for="overhead_sr" class="drum_channels">SR overhead</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="overhead_sl" name="instrument" value="overhead_sl" checked />
                            <label for="overhead_sl" class="drum_channels">SL overhead</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="drumpad_l" name="instrument" value="drumpad_l" />
                            <label for="drumpad_l" class="drum_channels">Drum pad left</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="drumpad_r" name="instrument" value="drumpad_r" />
                            <label for="drumpad_r" class="drum_channels">Drum pad right</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="ride" name="instrument" value="ride" />
                            <label for="ride" class="drum_channels">Ride</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="cowbell" name="instrument" value="cowbell" checked/>
                            <label for="cowbell" class="drum_channels">Cowbell</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="cowbell2" name="instrument" value="cowbell2" />
                            <label for="cowbell2" class="drum_channels">More cowbell</label>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <button type="button" class="section button2" name="bass">Bass</button>
                    <button type="button" class="options">Options</button>
                    <fieldset style="display:none" class="sortable" disabled>
                        <div class="overlay"></div>
                        <div class="options_holder">
                            <input type="checkbox" id="sr_bass_di" name="instrument" value="sr_bass_di" checked />
                            <label for="sr_bass_di" class="bass_channels">Bass DI (SR)</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sr_bass_mic" name="instrument" value="sr_bass_mic" checked />
                            <label for="sr_bass_mic" class="bass_channels">Bass mic (SR)</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sl_bass_di" name="instrument" value="sl_bass_di"/>
                            <label for="sl_bass_di" class="bass_channels">Bass DI (SL)</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sl_bass_mic" name="instrument" value="sl_bass_mic"/>
                            <label for="sl_bass_mic" class="bass_channels">Bass mic (SL)</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sr_sans_amp" name="instrument" value="sr_sans_amp"/>
                            <label for="sr_sans_amp" class="bass_channels">Bass Sans Amp (DSR)</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sl_sans_amp" name="instrument" value="sl_sans_amp"/>
                            <label for="sl_sans_amp" class="bass_channels">Bass Sans Amp (DSL)</label>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <button type="button" class="section button3" name="guitar">Guitar</button>
                    <button type="button" class="options">Options</button>
                    <fieldset style="display:none" class="sortable" disabled>
                        <div class="overlay"></div>
                        <div class="options_holder">
                            <input type="checkbox" id="sr_guitar" name="instrument" value="sr_guitar" checked />
                            <label for="sr_guitar" class="guitar_channels stl">SR Guitar</label>
                            <input type="checkbox" id="sr_guitar_r" name="instrument" value="sr_guitar_r"/>
                            <label for="sr_guitar_r" class="stgtr mono">single mic</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="c_guitar" name="instrument" value="c_guitar" />
                            <label for="c_guitar" class="guitar_channels stl">C Guitar</label>
                            <input type="checkbox" id="c_guitar_r" name="instrument" value="c_guitar_r" disabled/>
                            <label for="c_guitar_r" class="stgtr mono disabled">single mic</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sl_guitar" name="instrument" value="sl_guitar" checked />
                            <label for="sl_guitar" class="guitar_channels stl">SL guitar</label>
                            <input type="checkbox" id="sl_guitar_r" name="instrument" value="sl_guitar_r"/>
                            <label for="sl_guitar_r" class="stgtr mono">single mic</label>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <button type="button" class="section button4" name="keys">Keys</button>
                    <button type="button" class="options">Options</button>
                    <fieldset style="display:none" class="sortable" disabled>
                        <div class="overlay"></div>
                        <div class="options_holder">
                            <input type="checkbox" id="keys_1" name="instrument" value="keys_1_l" checked/>
                            <label for="keys_1" class="keys_channels stl">Keys 1</label>
                            <input type="checkbox" id="keys_1_r" name="instrument" value="keys_1_r" checked/>
                            <label for="keys_1_r" class="st stereo">stereo</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="keys_2" name="instrument" value="keys_2_l" />
                            <label for="keys_2" class="keys_channels stl">Keys 2</label>
                            <input type="checkbox" id="keys_2_r" name="instrument" value="keys_2_r" checked disabled/>
                            <label for="keys_2_r" class="st stereo disabled">stereo</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="korg" name="instrument" value="korg_l"/>
                            <label for="korg" class="keys_channels stl">Korg</label>
                            <input type="checkbox" id="korg_r" name="instrument" value="korg_r" checked disabled/>
                            <label for="korg_r" class="st stereo disabled">stereo</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="moog" name="instrument" value="moog_l" />
                            <label for="moog" class="keys_channels stl">Moog</label>
                            <input type="checkbox" id="moog_r" name="instrument" value="moog_r" checked disabled/>
                            <label for="moog_r" class="st stereo disabled">stereo</label>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <button type="button" class="section button5" name="pb">Playback</button>
                    <button type="button" class="options">Options</button>
                    <fieldset style="display:none" class="sortable" disabled>
                        <div class="overlay"></div>
                        <div class="options_holder">
                            <input type="checkbox" id="tracks" name="instrument" value="tracks_l" checked />
                            <label for="tracks" class="pb_channels stl">Tracks</label>
                            <input type="checkbox" id="tracks_r" name="instrument" value="tracks_r" checked />
                            <label for="tracks_r" class="st stereo">stereo</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="pb_strings" name="instrument" value="pb_strings_l"/>
                            <label for="pb_strings" class="pb_channels stl">Strings</label>
                            <input type="checkbox" id="pb_strings_r" name="instrument" value="pb_strings_r" checked disabled/>
                            <label for="pb_strings_r" class="st stereo disabled">stereo</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="pb_bvs" name="instrument" value="pb_bvs_l" />
                            <label for="pb_bvs" class="pb_channels stl">Track BVs</label>
                            <input type="checkbox" id="pb_bvs_r" name="instrument" value="pb_bvs_r" checked disabled />
                            <label for="pb_bvs_r" class="st stereo disabled">stereo</label>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <button type="button" class="section button6" name="vox">Vocals</button>
                    <button type="button" class="options">Options</button>
                    <fieldset style="display:none" class="sortable" disabled>
                        <div class="overlay"></div>
                        <div class="options_holder">
                            <input type="checkbox" id="sr_vocal" name="instrument" value="sr_vocal" />
                            <label for="sr_vocal" class="vocal_channels">SR Vocal</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="c_vocal" name="instrument" value="c_vocal" checked />
                            <label for="c_vocal" class="vocal_channels">C Vocal</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sl_vocal" name="instrument" value="sl_vocal"/>
                            <label for="sl_vocal" class="vocal_channels">SL Vocal</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="dr_vocal" name="instrument" value="dr_vocal"/>
                            <label for="dr_vocal" class="drum_channels">Drum Vocal</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sp_vocal" name="instrument" value="sp_vocal" checked />
                            <label for="sp_vocal" class="vocal_channels">Spare Vocal</label>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <button type="button" class="section button7" name="tb">Talkbacks</button>
                    <button type="button" class="options">Options</button>
                    <fieldset style="display:none" class="sortable" disabled>
                        <div class="overlay"></div>
                        <div class="options_holder">
                            <input type="checkbox" id="drum_tb" name="instrument" value="drum_tb" />
                            <label for="drum_tb" class="drum_channels">Drum talkback</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="bass_tb" name="instrument" value="bass_tb" />
                            <label for="bass_tb" class="bass_channels">Bass talkback</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sr_guitar_tb" name="instrument" value="sr_guitar_tb" />
                            <label for="sr_guitar_tb" class="guitar_channels">SR Guitar talkback</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="sl_guitar_tb" name="instrument" value="sl_guitar_tb" />
                            <label for="sl_guitar_tb" class="guitar_channels">SL Guitar talkback</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="keys_tb" name="instrument" value="keys_tb" />
                            <label for="keys_tb" class="keys_channels">Keys talkback</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="pb_tb" name="instrument" value="pb_tb" />
                            <label for="pb_tb" class="pb_channels">Playback talkback</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="foh_tb" name="instrument" value="foh_tb" checked/>
                            <label for="foh_tb" class="tech_channels">FoH talkback</label>
                        </div>
                        <div class="options_holder">
                            <input type="checkbox" id="mons_tb" name="instrument" value="mons_tb" />
                            <label for="mons_tb" class="tech_channels">Monitors talkback</label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div>
                <p> </p>
            </div>
            <div>
                <button class="btn btn-primary" type="button" id="generate">Generate!</button>
                <button class="btn btn-primary float-right" type="reset">Reset</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <form id="channel_list">
            <div id="table_holder">
                <h2>Your channel list will appear here, like magic!</h2>
            </div>
            <div>
                <button class="btn btn-danger btn-block" type="button" id="delete" disabled>Drag channel here to delete</button>
            </div>
            <div class="center">
                <button class="btn btn-success" type="button" id="add" disabled>Add a channel</button>
                <button class="btn btn-primary" type="button" id="csv" disabled>Export to .csv</button>
                <button class="btn btn-primary" type="button" id="print" disabled>Print</button>
            </div>
        </form>
        <div style="display:none" id="to_print"></div>
    </div>
</div>
{% endblock %}