<!-- html fragment to add channel list into channels page without rendering the whole thing-->
<div class="channel_list_info d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight" style="font-size:150%" id="actname">{{ act_name }}</div>
    <div class="p-2 bd-highlight"> 
        {% if contact_name != '' %}
            Contact: {{ contact_name }}
        {% endif %}
    </div>
    <div class="p-2 bd-highlight"> 
    {% if contact_details != '' %}
        On: {{ contact_details }}
    {% endif %}
    </div>
</div>
<table id="channel_table">
    <tr>
        <th width="6%">Ch.</th>
        <th>Instrument</th>
        <th width="15%">Mic/DI</th>
        <th width="10%">Stand</th>
        <th width="20%">Position</th>
        <th width="6%">+48v</th>
        <th>Notes</th>
    </tr>
    {% for channel in channel_list %}
    <tr>
        <td>
            {{ loop.index }}
        </td>
        <td>
            {{ channel[0] }}
        </td>
        <td>
            {{ channel[1] }}
        </td>
        <td>
            <!--If it needs a stand, add it-->
            {% if channel[3] == 1 %}
                {{ channel[2] }}
            {% endif %}
        </td>
        <td>
            {{ channel[4] }}
        </td>
        <td>
            {% if channel[5] == 1 %}
                    *
            {% endif %}
        </td>
        <td>
      
        </td>
    </tr>
    {% endfor %}
</table>