{% extends "layout.html" %}

{% block title %} Contact {% endblock %}

{% block heading %} Contact {% endblock %}
{% block subtitle %} Where to find me {% endblock %}

{% block content %}
    <ul>
        <li>Check out my <a href="https://www.linkedin.com/in/bethooleary/">LinkedIn</a> page.</li>
        <li>I'm on the <a href="https://makeiteql.com/profile/34?ref=search">EQL directory.</a></li>
        <li>I am pretty active with <a href="www.Soundgirls.org">Soundgirls</a>.</li>
        <li class="sublist">You can read my blog for them <a href="https://soundgirls.org/contributors/beth-oleary/">here</a>.</li>
        <li>Want to connect on Facebook? Please don't! My Facebook is for keeping in touch with friends. Adding strangers on social media sites with no other contact does not count as networking, please try harder.</li>
        <li>I'm not on Instagram. <i>"betholearysound"</i> is some sort of bot pretending to be me. Please don't encourage it.</li>
    </ul>
{% endblock %}
