{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block nav_home %}active{% endblock %}

{% block heading %} Welcome to ChannelGen! {% endblock %}
{% block subheading %} It'll be great {% endblock %}

{% block intro %}

<p>
    Keeping your channel list accurate and up to date is an extremely important life skill. Sometimes though, you're really 
    short on time or you don't know where to start. Maybe you don't really know what kind of mics work best on what instruments?
    Don't panic, we've got you covered. Just tell us what your act consists of and we'll generate a channel list for you. 
    It's fully customisable, so you can add and delete channels, change mics or add notes. Then you can download it as a .csv 
    file to use in spreadsheets, or save it as a .pdf (not a word .doc! You don't want people to accidentally change it without 
    you knowing!) and send it to the promoter in a timely manner. A timely. Manner.
</p>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <img src="../static/content/images/stageplotmeme.jpg" alt="Woman screaming at cat in restaurant meme. Woman says 
             'That's not our current stage plot!' Cat says 'That's the stage plot you sent me!" />
        <p class="caption">
            Not keeping your paperwork up to date can cause major issues on gig day.
        </p>
    </div>
    <div class="col-md-4">
        <p></p>
        <p>
            This site deals with channel lists, which are the most important aspect of the audio rider, if not the entire rider.
            It doesn't matter what kind of hummous you have in the dressing room if you don't have the right gear to put the
            gig on. Stage plots are the second most important, and a stage plot generator is coming soon. I have tried to make
            the site as intuitive and user friendly as possible. Some features can be tricky to use on touchscreens, but it 
            is possible! Just keep trying! 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <p></p>
        <img src="../static/content/images/stageplotmeme2.png" alt="Is this a thing meme. An artist looks at a butterfly, 
             labelled 'Crudely hand-drawn jumble of indecipherable shapes' and says 'Is this a stage plot?'" />
        <p class="caption">
            Help us to help you, with a clear channel list at least. Stage plots coming soon!
        </p>
    </div>
</div>
{% endblock %}
