@use "sass:color";

// Mixin in for click animated buttons and their colours
@mixin clicky($bg) {
    box-shadow: 0 9px #999;
    background-color: $bg;

    &:hover {
        opacity: 1;
    }

    &:active, &.selected {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

body {
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

// Header, overlay and description combine to have a nice banner with an opaque photo as the background
.header {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('images/handwrittenplot.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.6);
}

.description {
    position: relative;
    margin: auto;
    padding: 2em;
    overflow: auto;
}

.nav-item {
    padding-left: 1em;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.7em;
    margin: 10px;
}

h3 {
    font-size: 1.4em;
    color: darkslategrey;
    text-align: center;
}

// Intro block styling
.intro {
    background-color: lavender;
    margin: 20px 0px 20px 0px;
    padding: 40px;
    border-radius: 5px;
}

// Content block styling
.content {
    @extend .intro;
    background-color: lightgoldenrodyellow;
}

.caption {
    font-size: 0.8em;
    font-style: italic;
}

// Stuff to make the button toggling make sense

input[type=checkbox] {
    width: 1px;
    height: 1px;
    position: absolute;
    z-index: 0;
}

input[type=checkbox]:checked + label {
    opacity: 1;
}

fieldset {
    position: relative;
}

// Keep text input boxes the right size
input[type=text] {
    width: 100%;
    overflow: hidden;
}

// Form styling

#formbar {
    background-color: lightgoldenrodyellow;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: gold;
    padding: 10px;
}

:disabled, .disabled {
    opacity: 0.6 !important;
    cursor: not-allowed;
    pointer-events: none;
}

.btn {
    margin: 15px;
}

%formbutton {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
    opacity: 0.5;
    transition: 0.1s;
    border: none;
    border-radius: 15px;
    margin: 10px;

    &:active, &.selected {
        opacity: 1;
    }
}

.options {
    @extend %formbutton;
    @include clicky(mediumturquoise);
    padding: 8px 16px;
}

.button1 {
    @extend %formbutton;
    @include clicky(sienna);
}

.button2 {
    @extend %formbutton;
    @include clicky(red);
}

.button3 {
    @extend %formbutton;
    @include clicky(darkorange);
}

.button4 {
    @extend %formbutton;
    @include clicky(gold);
}

.button5 {
    @extend %formbutton;
    @include clicky(forestgreen);
}

.button6 {
    @extend %formbutton;
    @include clicky(dodgerblue);
}

.button7 {
    @extend %formbutton;
    @include clicky(rebeccapurple);
}


%channels {
    @extend %formbutton;
    padding: 8px 16px;
    margin: 5px;
}

.drum_channels {
    @extend %channels;
    background-color: sienna;
}

.bass_channels {
    @extend %channels;
    background-color: red;
}

.guitar_channels {
    @extend %channels;
    background-color: darkorange;
}

.keys_channels {
    @extend %channels;
    background-color: gold;
}

.pb_channels {
    @extend %channels;
    background-color: forestgreen;
}

.vocal_channels {
    @extend %channels;
    background-color: dodgerblue;
}

.tech_channels {
    @extend %channels;
    background-color: black;
}

.mono {
    @extend %channels;
    padding: 5px 8px;
    border-style: solid;
    border-width: 2px;
    border-color: darkviolet;
    background-color: darkmagenta;
    font-size: 0.8em;
    opacity: 1;
}

.stereo {
    @extend %channels;
    padding: 5px 12px;
    border-style: solid;
    border-width: 2px;
    border-color: darkslategrey;
    background-color: darkcyan;
    font-size: 0.8em;
    opacity: 1;
}

.options_holder {
    display: inline-block;
}

#table_holder {
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    overflow: auto;
}

#channel_table {
    margin: 20px 10px;
    border: 3px solid black;
    border-collapse: collapse;
    overflow: scroll;
}

th, td {
    border: 2px solid black;
}

th {
    text-align: center;
}

td {
    padding: 3px 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}