/* Heavily influenced by FreeCodeCamp's Bootstrap tutorial
https://www.freecodecamp.org/news/learn-bootstrap-4-in-30-minute-by-building-a-landing-page-website-guide-for-beginners-f64e03833f33/*/

body {
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.header {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('images/banner.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.6);
}

.description {
    position: relative;
    margin: auto;
    padding: 2em;
    overflow: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.7em;
    margin: 10px;
}

p {
    padding: 40px;
    text-align: left;
}

ul {
    padding-top: 40px;
    list-style-type: square;
    text-align: left;
}

.sublist {
    list-style-type: circle;
    text-align: left;
    margin-left: 20px;
}

#poll {
    position: relative;
    margin: 0 auto;
    width: 75%;
    height: auto;
    overflow: auto;
    border-radius: 20px;
    font-size: 1.55em;
    text-align: center;
    background: seashell;
    padding: 20px;
    align-items: center;
}

#qst {
    position: relative;
    top: 20%;
    padding: 20px;
}

#buttons {
    position: relative;
    top: 40%;
    text-align: center;
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px;
}

    .button:hover {
        background-color: darkred
    }

    .button:active {
        background-color: darkred;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.button2 {
    background-color: #008CBA;
}
/* Blue */
.button3 {
    background-color: purple;
}
/* Purple */
.button4 {
    background-color: yellow;
    color: black;
}
/* Yellow */

.button2:hover {
    background-color: darkblue;
}
/* Blue */
.button3:hover {
    background-color: rebeccapurple;
}
/* Purple */
.button4:hover {
    background-color: gold
}
/* Yellow */

.button2.active {
    background-color: darkblue;
}
/* Blue */
.button3.active {
    background-color: rebeccapurple;
}
/* Purple */
.button4.active {
    background-color: gold
}
/* Yellow */

#ans {
    position: relative;
    top: 20%;
    padding: 20px;
    font-size: 0.85em;
}

img {
    margin: 1.2em;
    border-radius: 10px;
}

.caption {
    font-size: 1em;
    padding: 10px;
    font-style: italic;
}
